$black : #000;
$overlay:rgba(0, 0, 0, 0.5);
$white : #FFF;
$blue : #3DB9D3;
$red : #FF5252;
$orange : #FFCA28;
$green : #42B983;
$grey : rgb(161, 160, 160);

$br:0.3rem;
$bw:0.1rem;

$shadow:0 0 1rem  rgba(0, 26, 52, 0.2);

$ziMax:100;
